[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-sizzle-theme = "*"
build = "*"
e7awgsw = {editable = true, path = "."}
deprecated = "*"
mypy = "*"
types-deprecated = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
